<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to %>

    <ul class="menu vertical margin-top">
      <li><a href="#1"><strong>Cosa posso fare senza essere registrato al portale?</strong></a></li>
      <li><a href="#2"><strong>Cosa vuol dire registrarsi con le proprie credenziali social?</strong></a></li>
      <li><a href="#3"><strong>Come partecipo alla sezione sui progetti della Città?</strong></a></li>
      <li><a href="#4"><strong>Dove si trova il software open source di Bari Partecipa?</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1 class="clear"><%= t("pages.more_info.faq.page.title") %></h1>
    <p><%= t("pages.more_info.faq.page.description") %></p>

    <h2 id="1">Cosa posso fare senza essere registrato al portale?</h2>
    <p>Si può consultare Bari Partecipa senza essere registrati. Si potranno così leggere tutte le sezioni del sito, ma non si potrà intervenire e scrivere all'interno delle sezioni. Chi vuole intervenire con commenti o proposte dovrà pertanto registrarsi scegliendo una delle modalità disponibili.</p>

    <h2 id="2">Cosa vuol dire registrarsi con le proprie credenziali social?</h2>
    <p>Utilizzare le proprie credenziali social è uno dei possibili modi di iscriversi al portale. In questo caso si viene reindirizzati sul social prescelto dove si introducono le proprie credenziali, il social verifica la correttezza e comunica a Bari Partecipa che l'utente ha inserito l'esatta combinazione utente/password ed è stato pertanto riconosciuto. Nessun dato, ad eccezione dell'indirizzo email, viene passato dai social a Bari Partecipa, solo una conferma che l'utente che ha iniziato la sessione ha inserito credenziali corrette.</p>

    <h2 id="3">Come partecipo alla sezione sui progetti della Città?</h2>
    <p>La Città sottopone alla valutazione e discussione alcuni progetti che sono in elaborazione o in fase di studio, ovvero non sono ancora stati approvati con atti ufficiali. Si può partecipare al processo di discussione commentando tali progetti. Per commentare occorre essere utenti certificati.</p>

    <h2 id="4">Dove si trova il software open source di Bari Partecipa?</h2>
    <p>Bari Partecipa utilizza il software open source dell'analogo servizio della Città di Madrid <a href="https://decide.madrid.es">https://decide.madrid.es</a>.</p>


  </div>
</div>
