<div id='notice_reward' data-alert=""  data-closable="">
  <div class="callout notice ">
    <button class="close-button" aria-label="Chiudi" type="button" data-close="">
      <span aria-hidden="true">×</span>
    </button>
    <div class="notice-text">
      <%= t("crowdfunding_rewards.form.notice" , value: @crowdfunding_reward.min_investment )%>€
    </div>
  </div>
</div>
