
<div id="notice_reward" data-alert=""  data-closable="">

  <div id="error" data-alert="" class="callout alert" data-closable="">
    <button class="close-button" aria-label="Chiudi" type="button" data-close="">
      <span aria-hidden="true"> × </span>
    </button>
    <strong>
        Il valore della ricompensa <br>
        non è sufficiente.
    </strong>
  </div>
  
</div>

