<%= link_to t("admin.dashboard.index.back", org: Setting['org_name', User.pon_id]), root_path, class: "button float-right" %>

<h2 class="title inline-block"><%= t("admin.dashboard.index.title") %></h2>

<p><%= t("admin.dashboard.index.description", org: Setting['org_name',User.pon_id].to_s) %></p>
