<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row margin-top">

  <div class="col-12">
    <h1><%= t("pages.privacy") %></h1>

    <div class="row margin-top mx-2">
      <div class="col-12">
        <p>Ai sensi degli articoli 13 e 14 del Regolamento UE n. 2016/679 (di seguito &ldquo;GDPR&rdquo;), recante disposizioni a tutela delle persone e di altri soggetti rispetto al trattamento dei dati personali, desideriamo informarLa che i dati personali da Lei forniti formeranno oggetto di trattamento nel rispetto della normativa sopra richiamata. Per questo desideriamo fornirle le relative informazioni.</p>
      </div>
    </div>

    <div class="row margin-top mx-2">
      <div class="border col-sm-12 col-md-3 col">
        <p><strong>Titolare</strong></p>
      </div>
      <div class="border col-sm-12 col-md-9 col">
        <p>Comune di Bari &ndash; C.so Vittorio Emanuele 84 &ndash; Bari &ndash; Tel.&nbsp;0805772251 &ndash; 0805772245 &ndash; email&nbsp;privacy@comune.bari.it &ndash; PEC&nbsp;privacy.comunebari@pec.rupar.puglia.it</p>
      </div>
    </div>



    <div class="row margin-top mx-2 show-for-large-only">
      <div class="border col-sm-12 col-md-3 col">
          <p><strong>Finalit&agrave; e base giuridica del trattamento</strong></p>
      </div>
        
      <div class="border col-sm-12 col-md-9 col">
        <div class="row mx-2 mt-2">
          <div class="border col-sm-12 col-md-6 col">
            <p><strong>Finalit&agrave;</strong></p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p><strong>Base giuridica (riferita al&nbsp; GDPR)</strong></p>
          </div>
        </div>

        <div class="row mx-2">
          <div class="border col-sm-12 col-md-6 col">
            <p>Erogazione di servizi online di partecipazione civica ed e‑democracy (per esempio forum tematici, petizioni, questionari)</p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p>Consenso (art. 6 p. 1 lett. a))</p>
            <p><em>In mancanza del consenso l&rsquo;utente non potr&agrave; accedere alla piattaforma n&eacute; essere attivo nei servizi messi a disposizione dal Comune di Bari.</em></p>
            <p><em>Il consenso potr&agrave; essere revocato in qualsiasi momento</em></p>
          </div>
        </div>

        <div class="row mx-2 mb-2">
          <div class="border col-sm-12 col-md-6 col">
            <p>Classificazione degli interventi in base alle caratteristiche degli utenti</p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p>Consenso (art. 6 p. 1 lett. a))</p>
            <p><em>In mancanza del consenso l&rsquo;utente potr&agrave;, comunque, accedere alla piattaforma ed essere attivo nei servizi messi a disposizione dal Comune di Bari.</em></p>
            <p><em>Il consenso potr&agrave; essere revocato in qualsiasi momento.</em></p>
            <p><em>Le caratteristiche possono essere variate dall&rsquo;utente accedendo al men&ugrave; &ldquo;Il mio account&rdquo; presente nella home page di partecipa.ba.it</em></p>
          </div>
        </div>


      </div>
    </div>

    <div class="row margin-top mx-2 hide-for-large-only">
      <div class="border col-sm-12 col-md-12 col">
        <div class="row">
          <div class="col-sm-12 col-md-12 col mx-2">
              <p><strong>Finalit&agrave; e base giuridica del trattamento</strong></p>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Finalit&agrave;</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Consenso (art. 6 p. 1 lett. a))</p>
                <p><em>In mancanza del consenso l&rsquo;utente non potr&agrave; accedere alla piattaforma n&eacute; essere attivo nei servizi messi a disposizione dal Comune di Bari.</em></p>
                <p><em>Il consenso potr&agrave; essere revocato in qualsiasi momento</em></p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Dati trattati</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Consenso (art. 6 p. 1 lett. a))</p>
                <p><em>In mancanza del consenso l&rsquo;utente potr&agrave;, comunque, accedere alla piattaforma ed essere attivo nei servizi messi a disposizione dal Comune di Bari.</em></p>
                <p><em>Il consenso potr&agrave; essere revocato in qualsiasi momento.</em></p>
                <p><em>Le caratteristiche possono essere variate dall&rsquo;utente accedendo al men&ugrave; &ldquo;Il mio account&rdquo; presente nella home page di partecipa.ba.it</em></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Finalit&agrave;</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Classificazione degli interventi in base alle caratteristiche degli utenti</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Dati trattati</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Dati decisi dal singolo utente</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="row margin-top mx-2 show-for-large-only">
      <div class="border col-sm-12 col-md-3 col">
          <p><strong>Dati personali trattati</strong></p>
      </div>
        
      <div class="border col-sm-12 col-md-9 col">
        <div class="row mx-2 mt-2">
          <div class="border col-sm-12 col-md-6 col">
            <p><strong>Finalit&agrave;</strong></p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p><strong>Dati trattati</strong></p>
          </div>
        </div>

        <div class="row mx-2">
          <div class="border col-sm-12 col-md-6 col">
            <p>Erogazione di servizi online di partecipazione civica ed e‑democracy (per esempio forum tematici, petizioni, questionari)</p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p>Dati anagrafici provenienti dal sistema di autenticazione che l&rsquo;utente sceglie per l&rsquo;accesso alla piattaforma (Facebook, Twitter, Google, SPID)</p>
          </div>
        </div>

        <div class="row mx-2 mb-2">
          <div class="border col-sm-12 col-md-6 col">
            <p>Classificazione degli interventi in base alle caratteristiche degli utenti</p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p>Dati decisi dal singolo utente</p>
          </div>
        </div>


      </div>
    </div>

    <div class="row margin-top mx-2 hide-for-large-only">
      <div class="border col-sm-12 col-md-12 col">
        <div class="row">
          <div class="col-sm-12 col-md-12 col mx-2">
              <p><strong>Dati personali trattati</strong></p>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Finalit&agrave;</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Erogazione di servizi online di partecipazione civica ed e‑democracy (per esempio forum tematici, petizioni, questionari)</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Dati trattati</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Dati anagrafici provenienti dal sistema di autenticazione che l&rsquo;utente sceglie per l&rsquo;accesso alla piattaforma (Facebook, Twitter, Google, SPID)</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Finalit&agrave;</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Classificazione degli interventi in base alle caratteristiche degli utenti</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Dati trattati</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Dati decisi dal singolo utente</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="row margin-top mx-2 show-for-large-only">
      <div class="border col-sm-12 col-md-3 col">
          <p><strong>Destinatari</strong></p>
      </div>
        
      <div class="border col-sm-12 col-md-9 col">
        <div class="row mx-2 mt-2">
          <div class="border col-sm-12 col-md-6 col">
            <p><strong>Finalit&agrave;</strong></p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p><strong>Destinatari</strong></p>
          </div>
        </div>

        <div class="row mx-2">
          <div class="border col-sm-12 col-md-6 col">
            <p>Erogazione di servizi online di partecipazione civica ed e‑democracy (per esempio forum tematici, petizioni, questionari)</p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p>Pubblicazione degli interventi sul sito secondo il profilo che l&rsquo;utente ha realizzato attraverso le funzionalit&agrave; presenti nel men&ugrave; &ldquo;Il mio account&rdquo; disponibile nella home page di partecipa.ba.it.</p>
            <p>I dati saranno trattati, in qualit&agrave; di responsabile del trattamento dalla RTI Almaviva-Almavawe-Indra-PWC</p>
          </div>
        </div>

        <div class="row mx-2 mb-2">
          <div class="border col-sm-12 col-md-6 col">
            <p>Classificazione degli interventi in base alle caratteristiche degli utenti</p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            
          </div>
        </div>


      </div>
    </div>

    <div class="row margin-top mx-2 hide-for-large-only">
      <div class="border col-sm-12 col-md-12 col">
        <div class="row">
          <div class="col-sm-12 col-md-12 col mx-2">
              <p><strong>Destinatari</strong></p>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Finalit&agrave;</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Erogazione di servizi online di partecipazione civica ed e‑democracy (per esempio forum tematici, petizioni, questionari)</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Destinatari</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Pubblicazione degli interventi sul sito secondo il profilo che l&rsquo;utente ha realizzato attraverso le funzionalit&agrave; presenti nel men&ugrave; &ldquo;Il mio account&rdquo; disponibile nella home page di partecipa.ba.it.</p>
                <p>I dati saranno trattati, in qualit&agrave; di responsabile del trattamento dalla RTI Almaviva-Almavawe-Indra-PWC</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Finalit&agrave;</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Classificazione degli interventi in base alle caratteristiche degli utenti</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Destinatari</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="row margin-top mx-2 show-for-large-only">
      <div class="border col-sm-12 col-md-3 col">
          <p><strong>Fonti dei dati personali</strong></p>
      </div>
        
      <div class="border col-sm-12 col-md-9 col">
        <div class="row mx-2 mt-2">
          <div class="border col-sm-12 col-md-6 col">
            <p><strong>Finalit&agrave;</strong></p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p><strong>Fonti esterne</strong></p>
          </div>
        </div>

        <div class="row mx-2">
          <div class="border col-sm-12 col-md-6 col">
            <p>Erogazione di servizi online di partecipazione civica ed e‑democracy (per esempio forum tematici, petizioni, questionari)</p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p>Facebook, Twitter, Google, SPID secondo la piattaforma che l&rsquo;utente sceglie per autenticarsi a partecipa.ba.it</p>
          </div>
        </div>

        <div class="row mx-2 mb-2">
          <div class="border col-sm-12 col-md-6 col">
            <p>Classificazione degli interventi in base alle caratteristiche degli utenti</p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            
          </div>
        </div>


      </div>
    </div>

    <div class="row margin-top mx-2 hide-for-large-only">
      <div class="border col-sm-12 col-md-12 col">
        <div class="row">
          <div class="col-sm-12 col-md-12 col mx-2">
              <p><strong>Fonti dei dati personali</strong></p>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Finalit&agrave;</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Erogazione di servizi online di partecipazione civica ed e‑democracy (per esempio forum tematici, petizioni, questionari)</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Fonti esterne</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Facebook, Twitter, Google, SPID secondo la piattaforma che l&rsquo;utente sceglie per autenticarsi a partecipa.ba.it</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Finalit&agrave;</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Classificazione degli interventi in base alle caratteristiche degli utenti</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Fonti esterne</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="row margin-top mx-2 show-for-large-only">
      <div class="border col-sm-12 col-md-3 col">
          <p><strong>Periodo di conservazione</strong></p>
      </div>
        
      <div class="border col-sm-12 col-md-9 col">
        <div class="row mx-2 mt-2">
          <div class="border col-sm-12 col-md-6 col">
            <p><strong>Finalit&agrave;</strong></p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p><strong>Durata</strong></p>
          </div>
        </div>

        <div class="row mx-2">
          <div class="border col-sm-12 col-md-6 col">
            <p>Erogazione di servizi online di partecipazione civica ed e‑democracy (per esempio forum tematici, petizioni, questionari)</p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p>La conservazione ha durata limitata alla revoca del consenso da parte dell&rsquo;utente e, comunque, non oltre il 31/12 dell&rsquo;anno successivo all&rsquo;ultimo accesso al sito da parte dell&rsquo;utente</p>
          </div>
        </div>

        <div class="row mx-2 mb-2">
          <div class="border col-sm-12 col-md-6 col">
            <p>Classificazione degli interventi in base alle caratteristiche degli utenti</p>
          </div>
          <div class="border col-sm-12 col-md-6  col">
            <p>La conservazione ha durata limitata all&rsquo;ultimo giorno del terzo mese successivo all&rsquo;intervento dell&rsquo;utente</p>
          </div>
        </div>


      </div>
    </div>

    <div class="row margin-top mx-2 hide-for-large-only">
      <div class="border col-sm-12 col-md-12 col">
        <div class="row">
          <div class="col-sm-12 col-md-12 col mx-2">
              <p><strong>Periodo di conservazione</strong></p>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Finalit&agrave;</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Erogazione di servizi online di partecipazione civica ed e‑democracy (per esempio forum tematici, petizioni, questionari)</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Durata</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>La conservazione ha durata limitata alla revoca del consenso da parte dell&rsquo;utente e, comunque, non oltre il 31/12 dell&rsquo;anno successivo all&rsquo;ultimo accesso al sito da parte dell&rsquo;utente</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Finalit&agrave;</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Classificazione degli interventi in base alle caratteristiche degli utenti</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Durata</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>La conservazione ha durata limitata all&rsquo;ultimo giorno del terzo mese successivo all&rsquo;intervento dell&rsquo;utente</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="row margin-top mx-2 show-for-large-only">
      <div class="border col-sm-12 col-md-3 col">
          <p><strong>Diritti dell&rsquo;interessato</strong></p>
      </div>
        
      <div class="border col-sm-12 col-md-9 col">
        <div class="row mx-2 mt-2">
          <div class="border col-sm-12 col-md-3 col">
            <p><strong>Diritto</strong></p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p><strong>Riferimento al GDPR</strong></p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p><strong>Diritto</strong></p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p><strong>Riferimento al GDPR</strong></p>
          </div>
        </div>

        <div class="row mx-2">
          <div class="border col-sm-12 col-md-3 col">
            <p>Revoca del consenso</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Art.&nbsp;7</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Portabilit&agrave; ad altra piattaforma</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Art. 20</p>
          </div>
        </div>

        <div class="row mx-2">
          <div class="border col-sm-12 col-md-3 col">
            <p>Accesso ai dati personali</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Art.&nbsp;15</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Opposizione al trattamento</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Art. 21</p>
          </div>
        </div>

        <div class="row mx-2">
          <div class="border col-sm-12 col-md-3 col">
            <p>Rettifica dei dati personali</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Art.&nbsp;16</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Diritto alla comunicazione della violazione</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Art. 34</p>
          </div>
        </div>


        <div class="row mx-2">
          <div class="border col-sm-12 col-md-3 col">
            <p>Cancellazione dei dati personali</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Art. 17</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Diritto al reclamo al Garante per la Protezione dei Dati personali - Piazza Venezia 11 - 00187 Roma - garante@gpdp - 06696771</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Art. 77</p>
          </div>
        </div>


        <div class="row mx-2 mb-2">
          <div class="border col-sm-12 col-md-3 col">
            <p>Limitazione del trattamento</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            <p>Art. 18</p>
          </div>
          <div class="border col-sm-12 col-md-3  col">
            
          </div>
          <div class="border col-sm-12 col-md-3  col">
            
          </div>
        </div>


      </div>
    </div>

    <div class="row margin-top mx-2 hide-for-large-only">
      <div class="border col-sm-12 col-md-12 col">
        <div class="row">
          <div class="col-sm-12 col-md-12 col mx-2">
              <p><strong>Diritti dell&rsquo;interessato</strong></p>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Diritto</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Revoca del consenso</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Riferimento al GDPR</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Art.&nbsp;7</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Diritto</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Accesso ai dati personali</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Riferimento al GDPR</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Art.&nbsp;15</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Diritto</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Rettifica dei dati personali</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Riferimento al GDPR</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Art.&nbsp;16</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Diritto</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Cancellazione dei dati personali</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Riferimento al GDPR</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Art.&nbsp;16</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Diritto</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Limitazione del trattamento</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Riferimento al GDPR</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Art.&nbsp;18</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Diritto</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Portabilit&agrave; ad altra piattaforma</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Riferimento al GDPR</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Art.&nbsp;20</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Diritto</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Opposizione al trattamento</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Riferimento al GDPR</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Art.&nbsp;21</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Diritto</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Diritto alla comunicazione della violazione</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Riferimento al GDPR</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Art.&nbsp;34</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mx-2">        
          <div class="mb-2 col-sm-12 col-md-12 col">
            <div class="row">
              <div class="border col-sm-12 col-md-4 col">
                <p><strong>Diritto</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Diritto al reclamo al Garante per la Protezione dei Dati personali - Piazza Venezia 11 - 00187 Roma - garante@gpdp - 06696771</p>
              </div>
            </div>
            <div class="row">
              <div class="border col-sm-12 col-md-4  col">
                <p><strong>Riferimento al GDPR</strong></p>
              </div>
              <div class="border col-sm-12 col-md-8  col">
                <p>Art.&nbsp;77</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="row margin-top mx-2">
      <div class="border col-sm-12 col-md-4 col">
        <p><strong>Processo decisionale automatizzato: </strong>NO</p>
      </div>
      <div class="border col-sm-12 col-md-4  col">
        <p><strong>Trasferimenti dei dati a paesi extra UE: </strong>NO</p>
      </div>
      <div class="border col-sm-12 col-md-4  col">
        <p><strong>Profilazione dell&rsquo;interessato: </strong>NO</p>
      </div>
    </div>


    <div class="row margin-top mx-2">
      <div class="border col-sm-12 col-md-4 col">
        <p><strong>Responsabile per la Protezione dei Dati Personali</strong></p>
      </div>
      <div class="border col-sm-12 col-md-8 col">
        <p>Avv. Ilaria Rizzo - Direttore della Segreteria Generale &ndash; C.so Vittorio Emanuele 84 &ndash; Bari &ndash; Tel.&nbsp;0805772251 &ndash; 0805772245 &ndash; email&nbsp;privacy@comune.bari.it &ndash; PEC&nbsp;privacy.comunebari@pec.rupar.puglia.it</p>
      </div>
    </div>

    <div class="row margin-top mx-2">
      <div class="border col-sm-12 col-md-4 col">
        <p><strong>Dati di contatto per l&rsquo;esercizio dei diritti</strong></p>
      </div>
      <div class="border col-sm-12 col-md-8 col">
        <p>Segreteria Generale del Comune di Bari&ndash; C.so Vittorio Emanuele 84 &ndash; Bari &ndash; Tel.&nbsp;0805772251 &ndash; 0805772245 &ndash; email&nbsp;privacy@comune.bari.it &ndash; PEC&nbsp;privacy.comunebari@pec.rupar.puglia.it</p>
      </div>
    </div>

  </div>
</div>

