<li id="collaboration_agreement_<%= collaboration_agreement.id %>">
  <%= link_to collaboration_agreement.title, collaboration_agreement %> <!-- , collaboration_agreement.retired? ? { class: 'retired' } : {} -->
<!--  <%# if collaboration_agreement.retired? %>
    <span class="label alert"><%#= t('users.collaboration_agreements.retired') %></span>
  <%# end %>-->
</li>
