<li id="event_<%= event.id %>">
  <%= link_to event.title, event %>  <!-- #event.retired? ? { class: 'retired' } : {} -->
  <%# if event.retired? %>
  <!--  <span class="label alert"> </span>  -->
<%#= t('users.events.retired') %>

  <%# end %>

</li>
