<table class="margin-top">
  <thead>
    <th scope="col"><%= t("users.show.reportings") %></th>
    <th scope="col" colspan="2"><%= t("users.show.actions") %></th>
  </thead>
  <tbody>
    <% @reportings.each do |reporting| %>
      <%= render "reporting", reporting: reporting %>
    <% end %>
  </tbody>
</table>

<%= paginate @reportings %>
