<div class="small-12 medium-9 column">
  <ul>
      <li>
        <%= link_to t("layouts.header.pons_list"),
                                pons_path,
                                accesskey: "1",
                                title: t("shared.go_to_page") + t("layouts.header.pons_list") %>
      </li>
  </ul>
</div>
