<div class="row">
  <div class="small-12 column">
    <div class="auth-image pon-list-all">
      <h2 style="color:white; text-align:center"><%= t("layouts.menu.label_menu") %></h2>
      <% get_pons %>
      <% pon_actived %>
      <div class="row" style="padding:20px">
      <% @val.each do |v| %>
        <% if v['count'].to_i > 0 %>
          <div class="small-12 medium-4 column">

            <%= link_to "/?pon_id=" + (v['id']).to_s do %>
              <svg style="width: 26px; height: 26px; vertical-align: middle; fill: white">
                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
              </svg>
              <%= v['name'] %>
            <% end %>
          </div>
        <% else %>
          <div class="small-12 medium-4 column" style="color: #62626287;">
            <svg style="width: 26px; height: 26px; vertical-align: middle; fill: #62626287;">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
            </svg>
            <%= v['name'] %>
          </div>
        <% end %>
      <% end %>
      </div>

    </div>
  </div>
</div>



