<div class="small-12 medium-4 large-3 column text-center"
      style="float:left; height:200px; padding: 25px">

  <div style="border: 1px solid #004a83; height:180px; border-radius:5px; padding:10px; background: #ffffff;">

    <div class="row">
      <%= image_tag(image, style: "height:40px; margin-top:10px; margin-bottom:10px;") %>
    </div>
    <div class="row u-text-r-l u-padding-r-all u-layout-prose">
      <%=  link_to href do%>
        <h5 style="text-transform: uppercase;"><%= title %></h5>
      <% end %>
    </div>

    <div class="row" style="margin-left: 2px;margin-right: 2px">
        <p class="small" style="line-height: 1rem;"><%=description %></p>
    </div>

  </div>
</div>
