<div class="sidebar-divider"></div>
<h2 class="sidebar-title"><%= t("shared.tags_cloud.districts") %></h2>
<br>
<%= link_to map_debates_path, id: 'map', class: "container", title: t("shared.tags_cloud.districts_list") do %>
  <%= image_tag("#{Rails.application.config.cm}/pon_"+User.pon_id.to_s+".jpg", alt: t("shared.tags_cloud.districts_list")) %>
<% end %>
