<main>
    <%= render "shared/section_header", i18n_namespace: "debates.index.section_header", image: "debates" %>
    <div class="row">
        <%= back_link_to debates_path %>
        <%= render 'shared/map',
            parent_class: "debate",
            i18n_namespace: "debates",
            new_url_path: new_debate_path
            %>
    </div>
</main>