<div class="help-header no-margin-top margin-bottom">
  <div class="row">
    <div class="small-12 column">
      <%= image_tag "#{Rails.application.config.cm}/help/help_icon_#{image}.png", alt: t("#{i18n_namespace}.icon_alt"), class: "align-top" %>
      <h1 class="inline-block" style="margin-left: 10px;"><%= t("#{i18n_namespace}.title") %></h1>
      <%#= link_to t("#{i18n_namespace}.help"), "#section_help", class: "float-right" %>
    </div>
  </div>
</div>
