<div class="sidebar-divider"></div>
<h2 class="sidebar-title"><%= t("reportings.index.top") %></h2>

<p>
  <%= link_to t("reportings.index.top_link_reportings"), summary_reportings_path, class: "small" %><br>
</p>
