<%= back_link_to %>

<ul class="breadcrumbs margin-top">
  <li><%= @question_group.group_title %></li>
  <li><%= t('admin.questions.new.new_underquestion') %></li>
</ul>

<div class="poll-question-answer-form">
  <%= render "underquestion_form", form_url: admin_questions_path() %>
</div>
