<li class="pagination-previous d-sm-none">
  <%= link_to "", kaminari_path(url), :rel => "prev", :remote => remote %>
</li>

<li class="pagination-previous d-none d-sm-block">
  <%= link_to t("views.pagination.previous").html_safe, kaminari_path(url), :rel => "prev", :remote => remote %>
</li>
