<% if topics.any? %>
  <div class="row">
    <div class="order column">
      <%= render 'shared/wide_order_selector', i18n_namespace: "comments" %>
    </div>
  </div>
<% else %>
  <%= render 'topics/informative_text', topics: topics %>
<% end %>

<% topics.each do |topic| %>
  <%= render 'topics/topic', topic: topic %>
<% end %>
