<div class="debate-form row">

  <div class="small-12 column">
    <%= back_link_to %>

    <div class="float-right">
      <%= link_to "Vedi Associazione", @st_sector %>
    </div>

    <h1><%= "Modifica Associazione" %></h1>

    <%= render "form" %>
  </div>
</div>
