<div class="sidebar-divider"></div>
<h2 class="sidebar-title"><%= t("crowdfundings.index.top") %></h2>

<p>
  <%= link_to t("crowdfundings.index.top_link_crowdfundings"), summary_crowdfundings_path, class: "small" %><br>
</p>
