<div class="row">
    <div class="small-12 medium-9 column">
      <%= back_link_to admin_asset_path(@asset), t("admin.asset.back") %>
    </div>
  </div>
<div class="row margin-top">
    <div class="small-12 medium-9">  
        <h2> <%= t("admin.availability.table.index.new") %> </h2>
         <%= render 'form' %>
    </div>
   
</div>
