

<div class="row">
    <div class="small-12 column">
        <div class="auth-image pon-list-all">
            <h2 style="color:white; text-align:center"><%= t("layouts.menu.label_menu") %></h2>   
            <% get_pons %>
            
            <div class="row" style="padding:20px">
                <% @pons.each do |pon| %>
                    <div class="small-12 medium-4 column">
                        <%= link_to "/?pon_id="+(pon.id.to_s) do %>
                            <strong>  >>  </strong><%= pon_name(pon.id).name %>
                        <% end %>
                    </div>
                <% end %>  
            </div>
  
        </div>    
    </div>  
</div>



   